
-- 3. Create a bulk save function for better performance
CREATE OR REPLACE FUNCTION save_site_settings_bulk(settings jsonb)
RETURNS void
LANGUAGE plpgsql
SECURITY DEFINER
AS \$\$
DECLARE
  setting_item jsonb;
BEGIN
  FOR setting_item IN SELECT * FROM jsonb_array_elements(settings)
  LOOP
    INSERT INTO site_settings (key, value)
    VALUES (setting_item->>'key', setting_item->'value')
    ON CONFLICT (key)
    DO UPDATE SET value = EXCLUDED.value;
  END LOOP;
END;
\$\$;

GRANT EXECUTE ON FUNCTION save_site_settings_bulk(jsonb) TO authenticated;

